<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="AppointmentDao" class="gr.hua.springmvc.controller.models.AppointmentDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="EmailDao" class="gr.hua.springmvc.controller.models.EmailDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="EventDao" class="gr.hua.springmvc.controller.models.EventDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

	<bean id="ReqAppointDao" class="gr.hua.springmvc.controller.models.ReqAppointDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
	<bean id="RequestDao" class="gr.hua.springmvc.controller.models.RequestDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://62.217.125.30:3306/it21333" />
        <property name="username" value="it21333" />
        <property name="password" value="changeit" />
    </bean>
</beans>
